NUXT_PUBLIC_SITE_URL=http://localhost:3000
NUXT_DISCORD_WEBHOOK=https://discord.com/api/webhooks/token/id
NUXT_GITHUB_TOKEN=
NUXT_GITLAB_TOKEN=

GOOGLE_SITE_TOKEN=
UMAMI_URL=https://domain.com/script
UMAMI_ID=

DOCKER_COMPOSE_PORT=3000
