{
  // https://github.com/nuxt/eslint-config
  // https://vueschool.io/articles/vuejs-tutorials/eslint-and-prettier-with-vite-and-vue-js-3
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "eslint:recommended",
    "plugin:vue/vue3-recommended",
    "prettier"
  ],
  "rules": {
    "no-undef": "off",
    "prefer-const": "warn",
    "no-unused-vars": "warn",
    "vue/multi-word-component-names": "off",
    "vue/first-attribute-linebreak": "off",
    "vue/no-v-html": "off",
    "@typescript-eslint/no-unused-vars": "warn"
  }
}
