{
  "extends": [
    "@nuxtjs/eslint-config-typescript"
  ],
  "rules": {
    "no-console": [
      "warn",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": {
          "max": 1
        },
        "multiline": {
          "max": 1
        }
      }
    ],
    "vue/multi-word-component-names": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "space-before-function-paren": "off"
  }
}