# A pipeline is composed of independent jobs that run scripts, grouped into stages.
# Stages run in sequential order, but jobs within stages run in parallel.
#
# For more information, see: https://docs.gitlab.com/ee/ci/

stages:
  - deploy

variables:
  NODE_VERSION: 18.17.0
  PM2_NAME: portfolio

deploy-job:
  stage: deploy
  image: node:18.17.0
  before_script:
    - 'command -v ssh-agent >/dev/null || ( apk add --update openssh )'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan $SSH_IP >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    - ssh $SSH_USER@$SSH_IP "
      . ~/.zshrc &&
      cd /home/$SSH_USER/www/$CI_PROJECT_NAME &&
      git pull &&
      /home/$SSH_USER/.nvm/versions/node/v$NODE_VERSION/bin/pnpm i &&
      /home/$SSH_USER/.nvm/versions/node/v$NODE_VERSION/bin/pnpm build &&
      docker exec -it portfolio rm -rf node_modules
      docker exec -it portfolio rm -rf .output
      docker exec -it portfolio rm -rf .nuxt
      docker cp .output portfolio:/usr/src/app/
      rm -rf .output &&
      rm -rf .nuxt &&
      rm -rf node_modules &&
      notifier '$CI_PROJECT_TITLE deployed'"
  only:
    - main
