# A pipeline is composed of independent jobs that run scripts, grouped into stages.
# Stages run in sequential order, but jobs within stages run in parallel.
#
# For more information, see: https://docs.gitlab.com/ee/ci/

stages:
  - deploy

variables:
  NODE_VERSION: "18.12.1"
  PM2_NAME: "portfolio"

deploy-job:
  stage: deploy
  image: node:18.12.1
  before_script:
    - apk add --update nodejs npm
    - node -v
  # before_script:
  #   - "command -v ssh-agent >/dev/null || ( apk add --update openssh )"
  #   - eval $(ssh-agent -s)
  #   - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
  #   - mkdir -p ~/.ssh
  #   - chmod 700 ~/.ssh
  #   - ssh-keyscan $SSH_IP >> ~/.ssh/known_hosts
  #   - chmod 644 ~/.ssh/known_hosts
  script:
    - echo "Deploying..."
  #   - ssh $SSH_USER@$SSH_IP "
  #     . ~/.zshrc &&
  #     cd /home/ewilan/www/$CI_PROJECT_NAME &&
  #     git pull &&
  #     /home/ewilan/.nvm/versions/node/v$NODE_VERSION/bin/pnpm i &&
  #     /home/ewilan/.nvm/versions/node/v$NODE_VERSION/bin/pnpm build &&
  #     pm2 restart $PM2_NAME &&
  #     notify main '$CI_PROJECT_TITLE deployed'"
  only:
    - main
