@font-face {
    font-family: "booterz";
    src: url("~static/fonts/booterz.ttf");
}

@font-face {
    font-family: "caslon-antique";
    src: url("~static/fonts/caslon-antique.ttf");
}

@font-face {
    font-family: "immortal";
    src: url("~static/fonts/immortal.ttf");
}

@font-face {
    font-family: "magic-card";
    src: url("~static/fonts/magic-card.ttf");
}

@font-face {
    font-family: "morpheus";
    src: url("~static/fonts/morpheus.ttf");
}

.font-lautre {
    font-family: 'booterz';
}

.font-ewilan {
    font-family: 'caslon-antique';
}

.font-ames-croisees {
    font-family: 'immortal';
}

.font-morrowind {
    font-family: 'magic-card';
}

.font-morpheus {
    font-family: 'morpheus';
}