@import "variables";
// @import "fonts";
@import "misc/hamburgers";

// Swiper scss
@import "~swiper/swiper";
@import "~swiper/components/pagination/pagination";

html,
body {
  color: white;
}
.w-100 {
  width: 100%;
}

.object-contain {
  object-fit: contain;
}

.stackeditor {
  a {
    text-decoration: none;
    font-weight: bold;
    color: inherit !important;
    text-decoration: underline;
  }
}
.underline-white {
  border-bottom: 0.1rem solid transparent;
  transition: all 0.5s;
  &:hover {
    border-bottom: 0.1rem solid white;
  }
}
.underline-black {
  border-bottom: 0.1rem solid transparent;
  transition: all 0.5s;
  &:hover {
    border-bottom: 0.1rem solid black;
  }
}

.v-navigation-drawer {
  background-color: $pink-custom !important;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.pointer {
  cursor: pointer;
}

.word-wraping {
  text-align: justify !important;
  -webkit-hyphens: auto !important;
  -moz-hyphens: auto !important;
  -ms-hyphens: auto !important;
  hyphens: auto !important;
}

.invisible-link {
  text-decoration: none;
  font-weight: bold;
  color: inherit !important;
}
