@font-face {
  font-family: 'Morpheus';
  src: url('../fonts/morpheus/morpheus-webfont.woff');
}

@font-face {
  font-family: 'Booter';
  src: url('../fonts/booter/booter.ttf');
}

@font-face {
  font-family: 'Caslon Antique';
  src: url('../fonts/caslon-antique/caslon-antique.ttf');
}

@font-face {
  font-family: 'Immortal';
  src: url('../fonts/immortal/immortal.ttf');
}

@font-face {
  font-family: 'Pelagiad';
  src: url('../fonts/pelagiad/Pelagiad.ttf');
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/quicksand/Quicksand-VariableFont_wght.ttf');
}
