.prose pre {
  @apply bg-gray-800 !text-base;
}
.prose .prose-code .filename {
  color: #fff !important;
}
.prose p {
  @apply !text-base;
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
