@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen text-black dark:bg-gray-900 dark:text-white transition-colors duration-200;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.gradient {
  mask-image: linear-gradient(to bottom, white 0%, transparent 100%);
}
.gradient-top {
  mask-image: linear-gradient(to bottom, white 0%, transparent 100%);
}
.gradient-inter {
  mask-image: linear-gradient(
    180deg,
    transparent 0%,
    white 40%,
    white 60%,
    transparent 100%
  );
}
.gradient-bottom {
  mask-image: linear-gradient(to top, white 0%, transparent 100%);
}
