@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {
  @variants responsive {
    .masonry {
      column-count: 1;
      column-gap: 1.5em;
    }
    .break-inside {
      break-inside: avoid;
    }
    @screen md {
      .masonry {
        column-count: 2;
      }
    }
    @screen lg {
      .masonry {
        column-count: 3;
      }
    }
    @screen xl {
      .masonry {
        column-count: 4;
      }
    }
  }
} */

@tailwind variants;
